# isort configuration file, read more at https://pycqa.github.io/isort/docs/configuration/options.html
[settings]
profile = black
skip=.gitignore,.dockerignore
extend_skip=.md,.json,.sh
line-length=100